.fundo{
    
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;  
    background-color: darkslategray; 
}


.imagens{
 border-radius: 50%;
}


.header{

    text-align: center;
    color: white;
    font-size:arial;
    background-color:black;
}

.menu{
    
    
    flex-direction:row;
    color:whitesmoke;
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    
}

a:link, a:visited {
    text-decoration:none;
    color: white;
	}
a:hover {
	text-decoration:underline; 
	color: darkslategray
	}
a:active {
	text-decoration:none
	}     

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

